* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
#all {
	background-color: black;
	height: 675px;
}
#all p {
	color:  #20C20E;
	font-size: 60px;
	position: absolute;
	left: 10%;
	top: 3%;
}
.livechart {
	border:2px solid #20C20E  ;
	background-color: black;
	position: absolute;
	right: 23%;
	top:5%;
	height: 49px;
	width: 200px;
	color: #20C20E ;
	font-size: 35px;
	text-align: center;
}
.exit {
	border:2px solid #20C20E  ;
	background-color: black;
	font-size: 35px;
	text-align: center;
	height: 49px;
	width: 125px;
	color: #20C20E;
	position: relative;
	left: 81%;
	top: 4.9%;
}
#column {
    width: 1100px;
    margin: auto;
    column-count:4;
    column-gap: 25px;
    border-color: blue;
    margin-top: 60px;
}
.item {
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
    background-color: black;
	border:3px solid #20C20E ;
	height: 475px;
}
.username {
	color: #20C20E ;
	position: absolute;
	left:10%;
	top: 90%;
	font-size: 35px;
}
