* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#chu_de {
	width: 85%;
    margin:auto;
    height: 600px;
    background-image:url('http://www.drodd.com/images14/white-wallpaper10.jpg');
    border:2px solid #BDBDBD;
    border-radius: 10px;
}
img{
    width: 95%;
    height: 95%;
}
#anh {
	width: 20%;
	height: 80%;
	float: left;
	border-radius:5px;
	margin-top: 1%;
	margin-left: 2%;
	border-top: 2px solid #BDBDBD;
	border-bottom: 2px solid #BDBDBD;
}
#noi_dung {
	width: 77%;
    height: 82%;
    float: right;
    background-image:url('http://www.drodd.com/images14/white-wallpaper10.jpg');
    border-bottom: 2px solid #BDBDBD;
    border-left: 2px solid #BDBDBD;
    border-radius: 10px;
}
h1 {
	float: right;
	color:#2b5f75;
	padding-right: 10px;
	padding-top: 5px;
	border-bottom: 1px solid #2b5f75;
}
#tieu_de {
    width: 100%;
    height: 10%; 
    
    float:right;
}
ul {
    list-style-type: none;  
}
li {
	font-weight: bold;
    float: left;
    width: 14.28%;
    color: #2b5f75;
    text-align: center;
     
}
#cac_thu {
	padding-left: 25px;
}
#cac_ngay {
	padding-left: 25px;
}
.a {
	border-bottom: 1px solid #36648b;
}
.b {
	padding-bottom: 70px;
	margin-top: 5px;
}
body {
	background-image:url('http://s1.picswalls.com/wallpapers/2015/09/08/free-white-wallpaper_021209710_265.jpg');
}